

.section-1 {
    width: 100%;
    height: auto;
    background-color: #eeeeee;
}

.u-text-1 h1{
    font-size: 65px;
}

.u-text_P {
    margin-top: 75%;
}

.oq-quti-1 {
    position: absolute;
    height: 120px;
    background-color: white;
    margin-top: 40%;
    width: 93%;
}


.rasm1-1ism {
    height: 550px;
    
}

.orqa-fon-oq2 {
    width: 94%;
    height: 150%;
    background-color: white;
    position: absolute;

}


.u-text_2 {
    position: absolute;
    margin-top: -80px;
    font-size: 40px;
    margin-left: 2%;
}

.text-p {
    font-size: 15px;
}

.rasimlar-uchta img {
    height: 80%;
}


.oq-quti3 {
    position: absolute;
    width: 90%;
    height: 300px;
    background-color: white;
    margin-top: -300px;
    margin-left: -100px;
}


.u-section-4 {
    background-color: white;
}

.hover1:hover {
    text-decoration: none;
    color: #918f8f;
}

.hover2:hover {
    color: #819497;
    text-decoration: none;
}

.ulanishlar2 a {
    color: rgb(112, 212, 207);
}

.ulanishlar2 p {
    color: white;
}

.oxirgi-qismiqora {
    background-color: rgb(75, 74, 74);
}